<div class="sidebar">

	<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=597005680396201&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
	<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/18millionrising" data-widget-id="309117337691357184">Tweets by @18millionrising</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<div class="fb-like-box" data-href="https://www.facebook.com/18MillionRising.org" data-colorscheme="light" data-width="290" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

</div>